/* font style*/

@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);

/* font style*/

/* a tag style */

a:link{ text-decoration:none; }
a:visited{ text-decoration:none; }
a:active{ text-decoration:none; }
a:hover{ text-decoration:none; }

/* a tag style */

.title_font {
  margin : 0;
  font-family: 'Jeju Gothic', serif;
  font-size : 12pt;
  color : #3b4752;
}

#escape_box {
  display : none;
  position : absolute;
  top : 0;
  left : 0;
  color : rgba(0,0,0,0.7);
  z-index: 99;
}

body {
  width:100%;
  font-family: 'Nanum Gothic', serif;
  font-size : 12px;
  color : #777777;
  margin : 0;
  min-width: 1024px;
}

#background_container {
  width : 100%;
  overflow : auto;
}

#main {
  width : 100%;
  overflow: auto;
}

#main > .title_container {
  display : table;
  width : 90%;
  width : -webkit-calc(100% - 60px); /* for Chrome, Safari */
  width :    -moz-calc(100% - 60px); /* for Firefox */
  width :         calc(100% - 60px); /* for IE */
  padding : 0 30px;
  height : 50px;
  background-color : #f1f1f1;
}

#main > .title_container > .text_box {
  display : table-cell;
  vertical-align: middle;
  height : 100%;
  overflow : auto;
}

#main > .title_container > .text_box > .each_text{
  float : left;
}


#main > .list_container {
  width : 90%;
  width : -webkit-calc(100% - 60px); /* for Chrome, Safari */
  width :    -moz-calc(100% - 60px); /* for Firefox */
  width :         calc(100% - 60px); /* for IE */
  padding : 30px 30px 0 30px;
  overflow : auto;
}

#main > .list_container > .category_select_area {
  width : 100%;
  overflow : auto;
}

#main > .list_container > .category_select_area > .each_select_box{
  display: table;
  float : left;
}

#main > .list_container > .category_select_area > .each_select_box > input {
  position : relative;
  text-align : left;
  height : 26px;
  width : 200px;
  background-color : #ffffff;
  border : 1px solid #cccccc;
  font-family: 'Jeju Gothic', serif;
  font-size : 12px;
  color : #999999;
  padding-left : 7px;
  outline: none;
  -moz-outline-style:none;
}

#main > .list_container > .category_select_area > .each_select_box > .middle_text{
  overflow : auto;
  display : table-cell;
  vertical-align: middle;
  padding : 0 5px;
}

#main > .list_container > .rectangle_select_box {
  display: table;
  float : left;
  margin-top : 5px;
  margin-bottom : 15px;
}

#main > .list_container > .rectangle_select_box > input {
  position : relative;
  text-align : left;
  height : 26px;
  width : 200px;
  background-color : #ffffff;
  border : 1px solid #cccccc;
  font-family: 'Jeju Gothic', serif;
  font-size : 12px;
  color : #999999;
  padding-left : 7px;
  margin-right : 24px;
  outline: none;
  -moz-outline-style:none;
}

#main > .list_container > .rectangle_select_box > button{
  position : relative;
  text-align : left;
  height : 30px;
  width : 70px;
  text-align: center;
  background-color : #3b4752;
  border : 1px solid #3b4752;
  border-radius: 8px;
  font-family: 'Jeju Gothic', serif;
  font-size : 12px;
  color : #ffffff;
  padding-left : 7px;
  cursor : pointer;
  outline: none;
  -moz-outline-style:none;
}


#main > .list_container > .exchange_control_area {
  width : 100%;
  overflow : auto;
}

#main > .list_container > .exchange_control_area > .exchange_control_box {
  display : table;
  overflow : auto;
  width : 100%;
  margin-bottom : 15px;
}

#main > .list_container > .exchange_control_area > .exchange_control_box > .inner_text {
  display : table-cell;
  width : 80px;
  font-family: 'Jeju Gothic', serif;
  font-size : 14px;
  padding-left : 20px;
}

#main > .list_container > .exchange_control_area > .exchange_control_box > button{
  position : relative;
  text-align : left;
  height : 30px;
  width : 70px;
  text-align: center;
  background-color : #3b4752;
  border : 1px solid #3b4752;
  border-radius: 8px;
  font-family: 'Jeju Gothic', serif;
  font-size : 12px;
  color : #ffffff;
  padding-left : 7px;
  cursor : pointer;
  outline: none;
  -moz-outline-style:none;
}

#main > .list_container > .exchange_control_area > .exchange_control_box > input {
  position : relative;
  text-align : left;
  height : 26px;
  width : 200px;
  background-color : #ffffff;
  border : 1px solid #999999;
  border-radius: 8px;
  font-family: 'Jeju Gothic', serif;
  font-size : 12px;
  color : #999999;
  padding-left : 7px;
  margin-right : 10px;
  outline: none;
  -moz-outline-style:none;
}

input::-webkit-input-placeholder { color : #999999; } /* Chrome/Opera/Safari */

#main > .list_container > .exchange_control_area > .category_list_area {

}

#main > .list_container > .exchange_control_area > .category_list_area > .table_container{
  overflow : auto;
  background-color : white;
}

#main > .list_container > .exchange_control_area > .category_list_area > .table_container > .tr_container{
  overflow : auto;
}

#main > .list_container > .exchange_control_area > .category_list_area > .table_container > .tr_container > .td_container {
  float : left;
  overflow : auto;
  /*cursor : pointer;*/
}

#main > .list_container > .exchange_control_area > .category_list_area > .table_container > .tr_container > .td_container > .td_cell {
  float : left;
  text-align: center;
  width : 200px;
  border-right : 1px solid #999999;
  overflow : auto;
  padding : 5px 0;
}
#main > .list_container > .exchange_control_area > .category_list_area > .table_container > .tr_container > .td_container > .td_cell_small {
  float : left;
  text-align: center;
  width : 100px;
  border-right : 1px solid #999999;
  overflow : auto;
  padding : 5px 0;
}

#main > .list_container > .exchange_control_area > .category_list_area > .table_container > .tr_container > .del_btn_container {
  float : left;
  overflow : auto;
  cursor : pointer;
}

#main > .list_container > .exchange_control_area > .category_list_area > .table_container > .tr_container > .del_btn_container > .del_text {
  float : left;
  width : 50px;
  text-align: center;
  overflow : auto;
  padding : 5px 0;
  color : #ff0000;
  text-decoration: underline;
}





/*table 관련*/


#main > .list_container > .table_label{
  font-size : 16px;
  margin-bottom: 10px;
  margin-left: 10px;
  font-weight: bold;
}

#main > .list_container > .table_container{
  width : 99%;
  width : -webkit-calc(100% - 2px); /* for Chrome, Safari */
  width :    -moz-calc(100% - 2px); /* for Firefox */
  width :         calc(100% - 2px); /* for IE */
  border : 1px solid #999999;
  background-color : white;
}

#main > .list_container > .table_container > .tr_container{
  width : 100%;
  overflow : auto;
  border-top : 1px solid #999999;
}

#main > .list_container > .table_container > .tr_container > .td_container {
  width : 95%;
  float : left;
  overflow : auto;
  cursor : pointer;
}

.gray { background-color : #eeeeee; }
.td_1 { float : left; width : 10%; text-align: center; overflow : auto; padding : 5px 0;}
.td_2 { float : left; width : 15%; text-align: center; overflow : auto; padding : 5px 0;}
.td_3 { float : left; width : 15%; text-align: center; overflow : auto; padding : 5px 0;}
.td_4 { float : left; width : 20%; text-align: center; overflow : auto; padding : 5px 0;}
.td_5 { float : left; width : 25%; text-align: center; overflow : auto; padding : 5px 0;}
.td_6 { float : left; width : 15%; text-align: center; overflow : auto; padding : 5px 0;}

#main > .list_container > .table_container > .tr_container > .del_btn_container {
  width : 5%;
  float : left;
  overflow : auto;
  cursor : pointer;
}

#main > .list_container > .table_container > .tr_container > .del_btn_container > .del_text { float : left; width : 100%; text-align: center; overflow : auto; padding : 5px 0; color : #ff0000; text-decoration: underline; }

#main > .list_container > .table_container > .tr_container > .hidden_toggle_box {
  width : 85%;
  width : -webkit-calc(100% - 30px); /* for Chrome, Safari */
  width :    -moz-calc(100% - 30px); /* for Firefox */
  width :         calc(100% - 30px); /* for IE */
  padding: 0 15px 10px;
  float : left;
  min-height : 50px;
  background-color : #f1f1f1;
  display : none;
}

#main > .list_container > .table_container > .tr_container > .hidden_toggle_box > .title {
  float : left;
  width : 100%;
  font-weight : bold;
  font-size : 14px;
  padding : 10px 0;
}

#main > .list_container > .table_container > .tr_container > .hidden_toggle_box > .detail {
  float : left;
  width : 100%;
}

#main > .list_container > .table_container > .tr_container > .hidden_toggle_box > .detail > .lines {
  width : 100%;
  overflow : auto;
  float : left;
}

#main > .list_container > .table_container > .tr_container > .hidden_toggle_box > .detail > .lines > div {
  float : left;
}
/*table 관련*/

/* 예약관리 폼*/

#major_container {
  width : 100%;
  overflow : auto;
  background-color : #fafafa;
}

#major_box_container {
  width : 90%;
  width : -webkit-calc(100% - 60px); /* for Chrome, Safari */
  width :    -moz-calc(100% - 60px); /* for Firefox */
  width :         calc(100% - 60px); /* for IE */
  padding : 15px 30px;
  background-color : #ffffff;
  overflow : auto;
}

#major_box_container > .big_icon_component {
  float : left;
  overflow : auto;
  width : 12%;
  width : -webkit-calc(16.66% - 8px - 4px); /* for Chrome, Safari */
  width :    -moz-calc(16.66% - 8px - 4px); /* for Firefox */
  width :         calc(16.66% - 8px - 4px); /* for IE */
  margin : 4px;
  border : 2px solid #999999;
  padding : 10px 0;
}

#major_box_container > .big_icon_component > .left_area {
  float : left;
  width : 40px;
  padding-left : 15px;
}

#major_box_container > .big_icon_component > .left_area > .up_area {
  width : 100%;
  overflow : auto;
  margin-bottom : 5px;
}

#major_box_container > .big_icon_component > .left_area > .up_area > span {
  font-family : 'Jeju Gothic', serif;
  font-size : 12px;
  color : #999999;
}

#major_box_container > .big_icon_component > .left_area > .down_area {
  width : 100%;
  overflow : auto;
}

#major_box_container  .big_icon_component > .right_area {
  position : relative;
  float : right;
  width : 85%;
  width : -webkit-calc(100% - 55px - 15px); /* for Chrome, Safari */
  width :    -moz-calc(100% - 55px - 15px); /* for Firefox */
  width :         calc(100% - 55px - 15px); /* for IE */
  margin-right : 15px;
  height : 40px;
}

#major_box_container  .big_icon_component > .right_area > .round_toggle_icon {
  position : absolute;
  right : 0;
  bottom : 0;
  width : 90%;
  height : 32px;
  background-color : #eeeeee;
  border-radius: 12px;
  cursor : pointer;
  border : 0;
  outline : none;
  -moz-outline-style : none;
  padding : 0;
}

#major_box_container  .big_icon_component > .right_area > .round_toggle_icon > .round_toggle_inner {
  float : left;
  display : table;
  width : 50px;
  height : 28px;
  background-color : #eeeeee;
  border : 2px solid #777777;
  font-family: 'Jeju Gothic', serif;
  font-weight: bold;
  color : #777777;
  border-radius: 12px;
}
#major_box_container  .big_icon_component > .right_area > .round_toggle_icon > .round_toggle_inner > p {
  -webkit-margin-before: 0.5em;
  -webkit-margin-after: 0.5em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

#major_box_container > .big_input_component {
  float : left;
  overflow : auto;
  width : 27%;
  width : -webkit-calc(33.32% - 8px - 4px); /* for Chrome, Safari */
  width :    -moz-calc(33.32% - 8px - 4px); /* for Firefox */
  width :         calc(33.32% - 8px - 4px); /* for IE */
  margin : 4px;
  border : 2px solid #999999;
  padding : 10px 0;
}

#major_box_container > .big_input_component > .up_area {
  width : 90%;
  width : -webkit-calc(100% - 30px); /* for Chrome, Safari */
  width :    -moz-calc(100% - 30px); /* for Firefox */
  width :         calc(100% - 30px); /* for IE */
  padding : 0 15px;
  margin-bottom : 5px;
}

#major_box_container > .big_input_component > .up_area > span {
  font-family : 'Jeju Gothic', serif;
  font-size : 12px;
  color : #999999;
}

#major_box_container > .big_input_component > .down_area {
  width : 100%;
  overflow : auto;
}

#major_box_container > .big_input_component > .down_area > input {
  width : 90%;
  width : -webkit-calc(100% - 30px); /* for Chrome, Safari */
  width :    -moz-calc(100% - 30px); /* for Firefox */
  width :         calc(100% - 30px); /* for IE */
  height : 18px;
  padding : 0 15px;
  position : relative;
  text-align : left;
  background : none;
  border : none;
  font-family: 'Jeju Gothic', serif;
  font-size : 16px;
  color : #000000;
  outline: none;
  -moz-outline-style:none;
}
#major_box_container > .big_input_component > .down_area > input::placeholder { color : #cccccc;}

#major_box_container > .big_toggle_component {
  float : left;
  overflow : auto;
  width : 12%;
  width : -webkit-calc(16.66% - 8px - 4px); /* for Chrome, Safari */
  width :    -moz-calc(16.66% - 8px - 4px); /* for Firefox */
  width :         calc(16.66% - 8px - 4px); /* for IE */
  margin : 4px;
  border : 2px solid #999999;
  padding : 10px 0;
  cursor : pointer;
}

#major_box_container > .big_toggle_component > .left_area {
  float : left;
  width : 90%;
  width : -webkit-calc(100% - 30px - 15px); /* for Chrome, Safari */
  width :    -moz-calc(100% - 30px - 15px); /* for Firefox */
  width :         calc(100% - 30px - 15px); /* for IE */
  padding-left : 15px;
}

#major_box_container > .big_toggle_component > .left_area > .up_area {
  width : 100%;
  overflow : auto;
  margin-bottom : 5px;
}

#major_box_container > .big_toggle_component > .left_area > .up_area > span {
  font-family : 'Jeju Gothic', serif;
  font-size : 12px;
  color : #999999;
}

#major_box_container > .big_toggle_component > .left_area > .down_area {
  width : 100%;
  overflow : auto;
}

#major_box_container > .big_toggle_component > .left_area > .down_area > button{
  position : relative;
  text-align : left;
  float : left;
  width : 100%;
  height : 20px;
  font-family: 'Jeju Gothic', serif;
  font-size : 16px;
  border : none;
  background : none;
  color : #000000;
  padding : 0;
  cursor : pointer;
  outline: none;
  -moz-outline-style:none;
}

#major_box_container  .big_toggle_component > .right_area {
  display : table;
  width : 30px;
  height : 40px;
}

#major_box_container > .big_toggle_component > .right_area > p {
  display : table-cell;
  font-size : 20px;
  vertical-align: middle;
  text-align: left;
}

#major_box_container > .big_toggle_component > .toggle_box {
  position : absolute;
  display : none;
  overflow : auto;
  width : 13%;
  width : -webkit-calc(16.66% - 8px - 14px); /* for Chrome, Safari */
  width :    -moz-calc(16.66% - 8px - 14px); /* for Firefox */
  width :         calc(16.66% - 8px - 14px); /* for IE */
  margin-top : 12px;
  max-height : 300px;
  z-index: 100;
}

#major_box_container > .big_toggle_component > .toggle_box > .toggle_content {
  width : 90%;
  width : -webkit-calc(100% - 17px); /* for Chrome, Safari */
  width :    -moz-calc(100% - 17px); /* for Firefox */
  width :         calc(100% - 17px); /* for IE */
  height : 20px;
  font-size : 14px;
  padding: 7px 7px 7px 10px;
  background-color : rgba( 230, 230, 230, 0.9 );
}

#major_box_container > .big_toggle_component > .toggle_box > .toggle_content:hover{
  background-color : rgba(200, 105, 0, 0.9);
  color : #ffffff;
}

#major_container > .center_text_box {
  display : table;
  width : 100%;
  height : 50px;
  text-align: center;
}

#major_container > .center_text_box > p {
  display : table-cell;
  vertical-align: middle;
  font-size : 16px;
  font-family: 'Jeju Gothic', serif;
  color : black;
}

#major_list_container {
  width : 90%;
  width : -webkit-calc(100% - 60px); /* for Chrome, Safari */
  width :    -moz-calc(100% - 60px); /* for Firefox */
  width :         calc(100% - 60px); /* for IE */
  padding : 0 30px;
  overflow : auto;
}

.row_width{ width : 8.33%; }

.table_index_tr {
  width : 100%;
  overflow : auto;
  display : table;
  color : #000000;
}

.list_container_table {
  width : 99%;
  width : -webkit-calc(100% - 2px); /* for Chrome, Safari */
  width :    -moz-calc(100% - 2px); /* for Firefox */
  width :         calc(100% - 2px); /* for IE */
  border : 1px solid #cccccc;
  background-color: white;
}

.list_container_table > .list_container_tr {
  width : 100%;
  display : table;
  overflow : auto;
  border-top : 1px solid #999999;
}

.list_container_td {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  height : 40px;
}

.list_container_td > button {
  width : 100%;
  height : 100%;
  border : none;
  background : none;
  padding : 0;
  font-size : 12px;
  cursor : pointer;
  outline: none;
  -moz-outline-style:none;
}

.list_container_td > button > span {
  color : #777777;
}

.list_container_td > .round_button_gray {
  width : 77px;
  height : 30px;
  background-color : #ececec;
  border-radius: 12px;
  cursor : default;
}

.list_container_td > .round_button_gray > span {
  color: #777777;
  font-weight: bold;
}

.list_container_td > .round_button_orange {
  width : 77px;
  height : 30px;
  background-color : #ff6600;
  border-radius: 12px;
}

.list_container_td > .round_button_orange > span {
  color: #ffffff;
  font-weight: bold;
}

.list_container_td > .delete_button_gray {
  width : 77px;
  height : 30px;
  background-color : #ececec;
  border-radius: 12px;
  cursor : pointer;
}

.list_container_td > .delete_button_gray > span {
  color: #cccccc;
  font-weight: bold;
}

.list_container_td > .td_toggle_box {
  width : 8%;
  width : -webkit-calc(8.33% - 4px); /* for Chrome, Safari */
  width :    -moz-calc(8.33% - 4px); /* for Firefox */
  width :         calc(8.33% - 4px); /* for IE */
  position : absolute;
  display : none;
  overflow : auto;
  max-height : 300px;
  border-bottom : 2px solid #999999;
  z-index: 100;
}

.list_container_td > .td_toggle_box > .td_toggle_content {
  width : 95%;
  width : -webkit-calc(100% - 4px); /* for Chrome, Safari */
  width :    -moz-calc(100% - 4px); /* for Firefox */
  width :         calc(100% - 4px); /* for IE */
  height : 20px;
  padding-top : 5px;
  font-size : 12px;
  border-left : 2px solid #999999;
  border-right : 2px solid #999999;
  background-color : white;
}

.list_container_td > .td_toggle_box > .td_toggle_content:hover{
  background-color : #e9e9e9;
  color : black;
}

/* 예약관리 폼*/




/*sidebar 관련*/
#menu_box {
  position : fixed;
  bottom : 0;
  right : 0;
  display : none;
  z-index: 100;
  width : 200px;
  background-color: #3b4752;
}

#menu_box > .menu_box_container {
  width : 90%;
  width : -webkit-calc(100% - 30px); /* for Chrome, Safari */
  width :    -moz-calc(100% - 30px); /* for Firefox */
  width :         calc(100% - 30px); /* for IE */
  padding : 15px;
}

#menu_box > .menu_box_container > a >.each_menu {
  width : 100%;
  font-size : 16px;
  font-family: 'Jeju Gothic', serif;
  color : white;
  padding-bottom : 20px;
  cursor : pointer;
}
#menu_box > .menu_box_container > a > .each_menu:hover {
  color : yellow;
}
/*sidebar 관련*/

/*header 관련*/
#header {
  width : 95%;
  width : -webkit-calc(100% - 60px); /* for Chrome, Safari */
  width :    -moz-calc(100% - 60px); /* for Firefox */
  width :         calc(100% - 60px); /* for IE */
  padding : 0 30px;
  height : 60px;
  background-color : #3b4752;
}

#header > .head_title_container {
  display : table;
  width : 100%;
  height : 100%;
}

#header > .head_title_container > .head_title_content {
  display : table-cell;
  vertical-align: middle;
  color : white;
  font-size : 20px;
  font-weight : bold;
}

#header > .head_title_container > .head_menu_icon_area {
  overflow : auto;
  position : fixed;
  top : 0;
  right : 0;
  padding: 15px 20px 0 0;
  cursor : pointer;
}

#header > .head_title_container > .head_menu_icon_area > img {
  width : 30px;
  height : 30px;
}
/*header 관련*/

/*footer 관련*/
#footer{
  position : fixed;
  bottom : 0;
  overflow : auto;
  width : 95%;
  width : -webkit-calc(100% - 60px); /* for Chrome, Safari */
  width :    -moz-calc(100% - 60px); /* for Firefox */
  width :         calc(100% - 60px); /* for IE */
  padding : 0 30px;
}

#footer > .copyright_area{
  display : table;
  width : 100%;
  height : 60px;
}

#footer > .copyright_area > .text_box{
  display : table-cell;
  vertical-align : middle;
  width : 100%;
}
/*footer 관련*/


#escape_box {
  display : none;
  position : absolute;
  top : 0;
  left : 0;
  color : rgba(0,0,0,0.7);
  z-index: 99;
}
