/* font style*/

@import url(http://fonts.googleapis.com/earlyaccess/nanumbrushscript.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);

/* font style*/

/* a tag style */

a:link{text-decoration:none; color:#646464;}
a:visited{text-decoration:none; color:#646464;}
a:active{text-decoration:none; color:#646464;}
a:hover{text-decoration:none; color:#646464;}

/* a tag style */

body {
  bockground-color : #dbdbdb;
  background-image:url(../img/background.jpg);
  background-repeat:no-repeat;
  background-attachment: fixed;
  width:100%;
  margin:auto;
  font-family: 'Jeju Gothic', serif;
  font-size : 15px;
  color : #999999;
}

#top_head {
  width : 1024px;
  margin : auto;
  overflow : auto;
  padding-bottom : 20px;
  font-size : 18px;
}

#top_title {
  width : 100%;
  text-align : center;
  padding-top : 40px;
  padding-bottom : 10px;
  color : #ffffff;
}

#top_title > .up_text{
  margin-bottom : 5px;
  font-weight : 100;
  font-family: 'Nanum Brush Script', serif;
  font-size : 35px;
}

#top_title > .down_text{
  font-family: 'Jeju Gothic', serif;
  font-size : 60px;
}

#top_choice {
  width : 100%;
  overflow : auto;
  margin : 0px;
  background :  rgba(255,255,255,.7);
  border-top : 3px solid #ff6600;
}

#top_choice > .category {
  float:left;
  width : 220px;
  overflow : auto;
}

#top_choice > .category > .content {
  float:left;
  width : 100%;
  height : 95px;
  display : table;
}

#top_choice > .category > .content { cursor : pointer; }

#top_choice > .category > .content > .category_list_on{
  text-align : center;
  display : table;
  float:left;
  width : 95%;
  width : -webkit-calc(100% - 20px); /* for Chrome, Safari */
  width :    -moz-calc(100% - 20px); /* for Firefox */
  width :         calc(100% - 20px); /* for IE */
  height : 100%;
  background : #ffffff;
  color : #ff6600;
  border-bottom : 3px solid #ff6600;
}

#top_choice > .category > .content > .category_list_off{
  display : table;
  float:left;
  width : 90%;
  width : -webkit-calc(100% - 20px); /* for Chrome, Safari */
  width :    -moz-calc(100% - 20px); /* for Firefox */
  width :         calc(100% - 20px); /* for IE */
  height : 100%;
  text-align : center;
  border-bottom : 3px solid #999999;
}

#top_choice > .category > .content > .category_list_on > p{
  display : table-cell;
  vertical-align : middle;
}

#top_choice > .category > .content > .category_list_off > p{
  display : table-cell;
  vertical-align : middle;
}

#top_choice > .category > .content > .category_arrow_on{
  float : right;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-left: 20px solid white;
  border-bottom: 20px solid transparent;
  margin-top : 25px;
}

#top_choice > .category > .content > .category_arrow_off {
  float : right;
  display : none;
}

#top_choice > .content {
  overflow : auto;
  float:left;
  width : 80%;
  width : -webkit-calc(100% - 220px); /* for Chrome, Safari */
  width :    -moz-calc(100% - 220px); /* for Firefox */
  width :         calc(100% - 220px); /* for IE */
}

#top_choice > .content > .inner {
  width : 90%;
  width : -webkit-calc(100% - 30px); /* for Chrome, Safari */
  width :    -moz-calc(100% - 30px); /* for Firefox */
  width :         calc(100% - 30px); /* for IE */
  margin : 0 20px 0 10px;
  height : 360px;
}

#top_choice > .content > .inner > .title {
  text-align : left;
  display : table;
  width : 100%;
  margin-top : 20px;
  height : 20px;
  padding-bottom : 10px;
}

#top_choice > .content > .inner > .title > p{
  display: table-cell;
  vertical-align: bottom;
  margin : 0;
}

#top_choice > .content > .inner > .content {
  font-size : 15px;
  overflow : hidden;
  width : 90%;
  width : -webkit-calc(100% - 30px); /* for Chrome, Safari */
  width :    -moz-calc(100% - 30px); /* for Firefox */
  width :         calc(100% - 30px); /* for IE */
  background-color : white;
  padding : 15px;
  height : 234px;
}

#top_choice > .content > .inner > .content > div {
  float : left;
  padding-right : 15px;
  margin-bottom : 10px;
  cursor : pointer;
}
#top_choice > .content > .inner > .content > div:hover { color : #ff6600; }

#top_choice > .content > .inner > .option {
  overflow : auto;
  width : 100%;
  text-align : left;
}

#top_choice > .content > .inner > .option > .link {
  overflow : auto;
  float : left;
  width : 50%;
  text-align : center;
}

#top_choice > .content > .inner > .option > .link > a > .inner {

  width : 100%;
}

#top_choice > .content > .inner > .option > .link > a > .inner > .left {
  float : left;
  width : 30%;
  padding-rigth : 15px;
}

#top_choice > .content > .inner > .option > .link > a > .inner > .left > img {
  float : right;
  height : 40px;
  padding : 10px;
}

#top_choice > .content > .inner > .option > .link > a > .inner > .right {
  display : table;
  float : right;
  width : 70%;
}

#top_choice > .content > .inner > .option > .link > a  > .inner > .right > p {
  display : table-cell;
  vertical-align : middle;
  float : left;
  text-align: center;
  color : #000000;
}




#main {
  width : 1024px;
  margin : auto;
  background : #ffffff;
  overflow : auto;
}

#main > .title {
  width : 97%;
  width : -webkit-calc(100% - 40px); /* for Chrome, Safari */
  width :    -moz-calc(100% - 40px); /* for Firefox */
  width :         calc(100% - 40px); /* for IE */
  font-size : 18px;
  color : #000000;
  border-bottom : 2px solid #ff6600;
  margin : 20px 20px 5px 20px;
}

#main > .form_box{
  overflow : auto;
  width : 95%;
  width : -webkit-calc(100% - 30px); /* for Chrome, Safari */
  width :    -moz-calc(100% - 30px); /* for Firefox */
  width :         calc(100% - 30px); /* for IE */
  margin : 0 15px;
}

#main > .form_box > input{
  float : left;
  width : 98%;
  height : 36px;
  text-align : left;
  font-family: 'Jeju Gothic', serif;
  font-size : 14px;
  width : -webkit-calc(50% - 2px - 8px - 10px); /* for Chrome, Safari */
  width :    -moz-calc(50% - 2px - 8px - 10px); /* for Firefox */
  width :         calc(50% - 2px - 8px - 10px); /* for IE */
  padding-left : 10px;
  margin : 4px;
  border : 1px solid #999999;
  border-radius: 8px;
}

#main > .form_box > .picker_input{
  float : left;
  width : 48%;
  height : 36px;
  text-align : left;
  font-family: 'Jeju Gothic', serif;
  font-size : 14px;
  width : -webkit-calc(25% - 2px - 8px - 10px); /* for Chrome, Safari */
  width :    -moz-calc(25% - 2px - 8px - 10px); /* for Firefox */
  width :         calc(25% - 2px - 8px - 10px); /* for IE */
  padding-left : 10px;
  margin : 4px;
  border : 1px solid #999999;
  border-radius: 8px;
}

#main > .form_box > input::-webkit-input-placeholder { font-size : 14px; color : #999999; } /* Chrome/Opera/Safari */
#main > .form_box > input::-moz-placeholder { font-size : 14px; color : #999999; } /* Firefox 19+ */
#main > .form_box > input:-ms-input-placeholder { font-size : 14px; color : #999999; } /* IE 10+ */
#main > .form_box > input:-moz-placeholder { font-size : 14px; color : #999999; } /* Firefox 18- */

#main > .form_box > .each_toggle_component {
  display: table;
  float : left;
  width : 50%;
}

#main > .form_box > .each_toggle_component > button{
  position : relative;
  text-align : left;
  float : left;
  height : 40px;
  width : 90%;
  width : -webkit-calc(100% - 8px); /* for Chrome, Safari */
  width :    -moz-calc(100% - 8px); /* for Firefox */
  width :         calc(100% - 8px); /* for IE */
  background-color : #ffffff;
  margin : 4px;
  border : 1px solid #999999;
  border-radius: 8px;
  font-family: 'Jeju Gothic', serif;
  font-size : 14px;
  color : #999999;
  padding-left : 10px;
  cursor : pointer;
  outline: none;
  -moz-outline-style:none;
}

#main > .form_box > .each_toggle_component > .toggle_box {
  position : absolute;
  display : none;
  overflow : auto;
  width : 40%;
  width : -webkit-calc(512px - 15px - 8px); /* for Chrome, Safari */
  width :    -moz-calc(512px - 15px - 8px); /* for Firefox */
  width :         calc(512px - 15px - 8px); /* for IE */
  margin: 44px 4px 4px;
  max-height : 300px;
  z-index: 100;
}

#main > .form_box > .each_toggle_component > .toggle_box > .toggle_content {
  width : 90%;
  width : -webkit-calc(100% - 17px); /* for Chrome, Safari */
  width :    -moz-calc(100% - 17px); /* for Firefox */
  width :         calc(100% - 17px); /* for IE */
  height : 20px;
  font-size : 14px;
  padding: 7px 7px 7px 10px;
  background-color : rgba( 230, 230, 230, 0.9 );
}

#main > .form_box > .each_toggle_component > .toggle_box > .toggle_content:hover{
  background-color : rgba(200, 105, 0, 0.9);
  color : #ffffff;
}



#main > .form_box > .input_special{
  float : left;
  width : 47%;
  overflow : auto;
  font-family: 'Jeju Gothic', serif;
  text-align : left;
  line-height : 20px;
  width : -webkit-calc(50% - 10px); /* for Chrome, Safari */
  width :    -moz-calc(50% - 10px); /* for Firefox */
  width :         calc(50% - 10px); /* for IE */
  margin : 4px;
  border : 1px solid #ff6600;
  border-radius: 8px;
}

#main > .form_box > .input_special > .top{
  display : table;
  overflow : auto;
  width : 100%;
  border-bottom : 1px solid #ff6600;
}

#main > .form_box > .input_special > .top > .left {
  display : table-cell;
  vertical-align : middle;
  float : left;
  width : 22%;
  width : -webkit-calc(27% - 10px); /* for Chrome, Safari */
  width :    -moz-calc(27% - 10px); /* for Firefox */
  width :         calc(27% - 10px); /* for IE */
  padding-left : 10px;
}

#main > .form_box > .input_special > .top > .left > p {
  font-size : 14px;
  color : #999999;
  margin : 10px 0;
}

#main > .form_box > .input_special > .top > .right {
  width : 57%;
  width : -webkit-calc(66% - 40px); /* for Chrome, Safari */
  width :    -moz-calc(66% - 40px); /* for Firefox */
  width :         calc(66% - 40px); /* for IE */
  padding-left : 20px;
  padding-right : 20px;
  display : table-cell;
  vertical-align : middle;
  float : right;
}

#main > .form_box > .input_special > .top > .right > div {
  float : left;
  color : #999999;
  font-size : 14px;
  margin : 10px 0;
}

#main > .form_box > .input_special > .top > .icon {
  width : 5%;
  width : -webkit-calc(7% - 5px); /* for Chrome, Safari */
  width :    -moz-calc(7% - 5px); /* for Firefox */
  width :         calc(7% - 5px); /* for IE */
  display : table-cell;
  vertical-align : middle;
  float : right;
  padding-right : 5px;
}

#main > .form_box > .input_special > .top > .icon > p {
  color : #999999;
  margin : 10px 0;
}

#main > .form_box > .input_special > .middle_container {
  display : table;
  width : 60%;
  width : -webkit-calc(100% - 120px); /* for Chrome, Safari */
  width :    -moz-calc(100% - 120px); /* for Firefox */
  width :         calc(100% - 120px); /* for IE */
  overflow : auto;
  padding-top : 10px;
  padding-right : 120px;
}

#main > .form_box > .input_special > .middle_container > .middle {
  float : right;
  overflow : auto;
  padding-bottom : 10px;
}

#main > .form_box > .input_special > .middle_container > .middle > .left{
  display : table-cell;
  vertical-align : middle;
  padding-right : 30px;
}
#main > .form_box > .input_special > .middle_container > .middle > .left > div{
  float : left;
}

#main > .form_box > .input_special > .middle_container > .middle > .right {
  display: table-cell;
  vertical-align: middle;
}

#main > .form_box > .input_special > .middle_container > .middle > .right > .count_box {
  display : table-cell;
  vertical-align : middle;
  float : right;
  height : 30px;
  overflow : auto;
  border : 1px solid #999999;
}

#main > .form_box > .input_special > .middle_container > .middle > .right > .count_box > .bt_up {
  float : left;
  width : 30px;
  height : 30px;
  text-align : center;
  color : #ff6600;
  cursor : pointer;
}

#main > .form_box > .input_special > .middle_container > .middle > .right > .count_box > .bt_up > p {
  font-size : 24px;
  line-height : 0;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  margin-top : 17px;
}

#main > .form_box > .input_special > .middle_container > .middle > .right > .count_box > .bt_down {
  float : left;
  width : 30px;
  height : 30px;
  text-align : center;
  color : #ff6600;
  cursor: pointer;
}

#main > .form_box > .input_special > .middle_container > .middle > .right > .count_box > .bt_down > p {
  font-size : 24px;
  line-height : 0;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  margin-top : 17px;
}

#main > .form_box > .input_special > .middle_container > .middle > .right > .count_box > .count {
  float : left;
  width : 100px;
  height : 30px;
  line-height : 30px;
  text-align : center;
  font-size : 15px;
  color : black;
  border: 0;
  padding: 0px;
  background : #f1f1f1;
}

#main > .form_box > .billing {
  float : left;
  width : 44%;
  width : -webkit-calc(50% - 40px); /* for Chrome, Safari */
  width :    -moz-calc(50% - 40px); /* for Firefox */
  width :         calc(50% - 40px); /* for IE */
  padding : 20px;
}

#main > .form_box > .billing > .normal_text {
  float : left;
  width : 100%;
  overflow : auto;
  color : #999999;
}

#main > .form_box > .billing > .normal_text > .left {
  float : left;
  padding-left : 30px;
}

#main > .form_box > .billing > .normal_text > .left > p {
  line-height : 40px;
  margin : 0;
}

#main > .form_box > .billing > .normal_text > .right {
  float : right;
  padding-right : 30px;
}

#main > .form_box > .billing > .normal_text > .right > p {
  line-height : 40px;
  margin : 0;
}

#main > .button_container {
  width : 100%;
  margin : 15px 0;
  overflow : auto;
  text-align : center;
}

#main > .button_container > .button_design {
  display : table;
  width : 160px;
  height : 50px;
  border-radius: 10px;
  font-size : 20px;
  margin : auto;
  background-color : #ff6600;
  color : #ffffff;
  cursor : pointer;
}

#main > .button_container > .button_design > p {
  display : table-cell;
  vertical-align : middle;
}

#list {
  width : 1024px;
  margin : auto;
  background : #ffffff;
  overflow : auto;
}

#list > .box{
  width : 95%;
  width : -webkit-calc(100% - 30px); /* for Chrome, Safari */
  width :    -moz-calc(100% - 30px); /* for Firefox */
  width :         calc(100% - 30px); /* for IE */
  border-top : 1px solid #ff6600;
  margin : 0 15px;
}

table {
  width : 100%;
  text-align : center;
  font-family: "Nanum Gothic", serif;
  font-size : 12px;
  color : #000000;
  border-collapse: collapse;
}

th{
  border-bottom : 1px solid #ff6600;
  padding: 5px 0;
}

tr, td {
  border-bottom : 1px solid #aaaaaa;
  padding: 5px 0;
}

.col_1{
}

.col_2{
  border-left : 1px solid #ff6600;
}

.col_3{
  border-left : 1px solid #ff6600;
}

.col_4{
  border-left : 1px solid #ff6600;
}

.col_5{
  border-left : 1px solid #ff6600;
}

.col_6{
  border-left : 1px solid #ff6600;
}

#list > .total {
  width : 92%;
  width : -webkit-calc(100% - 80px - 30px); /* for Chrome, Safari */
  width :    -moz-calc(100% - 80px - 30px); /* for Firefox */
  width :         calc(100% - 80px - 30px); /* for IE */
  padding : 0 40px;
  margin : 0 15px;
  overflow : auto;
  border-bottom : 3px double #ff6600;
}

#list > .total > .left {
  float : left;
  display : table;
  width : 20%;
  height : 100px;
}

#list > .total > .left > p{
  display : table-cell;
  vertical-align : middle;
  font-size : 18px;
  color : black;
}

#list > .total > .right {
  float : right;
  width : 80%;
  height : 100px;
}

#list > .total > .right > .orange{
  text-align : right;
  width : 100%;
  float : right;
  font-size : 30px;
  font-weight : bold;
  color : #ff6600;
  margin-top : 18px;
}

#list > .total > .right > .dark{
  text-align : right;
  width : 100%;
  float : right;
  color : black;
}

#important {
  width : 1024px;
  margin : auto;
  background : #ffffff;
  overflow : auto;
}

#important > .outer_container{
  width : 90%;
  width : -webkit-calc(100% - 30px); /* for Chrome, Safari */
  width :    -moz-calc(100% - 30px); /* for Firefox */
  width :         calc(100% - 30px); /* for IE */
  padding : 0 15px;
  overflow : auto;
  margin-top : 30px;
}

#important > .outer_container> .container > .checkbox_title {
  width : 100%;
  height : 45px;
  background-color : #666666;
  color : #ffffff;
}

#important > .outer_container> .container > .checkbox_title > input{
  float : left;
  width : 20px;
  height : 21px;
  margin : 12px;
}

#important > .outer_container> .container > .checkbox_title > p {
  float : left;
  font-size : 15px;
  margin : 0;
  line-height : 45px;
}

#important > .outer_container> .container > .content {
  padding : 10px;
  border : 1px solid #666666;
  max-height : 250px;
  overflow : auto;
  color : black;
  margin-bottom : 20px;
}

#important > .outer_container> .container > .content > h3 {
  margin : 10px 0;
  font-family: "Nanum Gothic", serif;
}

#important > .outer_container> .container > .content > p, pre {
  font-family: "Nanum Gothic", serif;
  font-size : 12px;
  line-height : 20px;
  margin : 0;
}

#important > .outer_container> .container > .content > a > p {
  font-family: "Nanum Gothic", serif;
  font-size : 12px;
  line-height : 20px;
  margin : 0;
  color : blue;
}

#important > .outer_container > .button_area {
  width : 100%;
  margin : 15px 0 30px;
  overflow : auto;
  text-align : center;
}

#important > .outer_container > .button_area > .button_container {
  float : left;
  width : 49%;
  overflow : auto;
}

#important > .outer_container > .button_area > .margin_box {
  float : left;
  height : 50px;
  width : 2%;
}

#important > .outer_container > .button_area > .button_container > .button_design {
  display : table;
  width : 160px;
  height : 50px;
  border-radius: 10px;
  font-size : 20px;
  margin : auto;
  background-color : #ff6600;
  color : #ffffff;
  cursor : pointer;
}

#important > .outer_container > .button_area > .button_container > .button_design > p {
  display : table-cell;
  vertical-align : middle;
}

#escape_box {
  display : none;
  position : absolute;
  top : 0;
  left : 0;
  color : rgba(0,0,0,0.7);
  z-index: 99;
}

#mask{
  position:absolute;
  z-index : 9000;
  left : 0;
  top : 0;
  background-color : rgba(0,0,0,0.7);
  display : none;
}

#pop_background {
  display : none;
  position : fixed;
  left : 0;
  top : 0;
  z-index:10000;
}

#pop_background > .pop_box {
  width : 512px;
  height : 100%;
  overflow : auto;
  margin : auto;
  display : table;
}

#pop_background > .pop_box > .pop_content {
  width : 100%;
  display : table-cell;
  vertical-align: middle;
}

#pop_background > .pop_box > .pop_content > .title {
  width : 100%;
  overflow : auto;
  background-color : white;
}

#pop_background > .pop_box > .pop_content > .title > p {
  color : black;
  padding-left : 15px;
  font-size : 18px;
}

#pop_background > .pop_box > .pop_content > .content_box {
  width : 482px;
  padding : 0 15px;
  background-color : white;
}

#pop_background > .pop_box > .pop_content > .content_box > .content {
  max-height : 200px;
  overflow : auto;
  width : 470px;
  border : 1px solid #000000;
  padding : 5px;
}

#pop_background > .pop_box > .pop_content > .content_box > .content > p{
  font-family: "Nanum Gothic", serif;
  font-size : 12px;
  white-space: pre;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

#pop_background > .pop_box > .pop_content > .button_area {
  width : 100%;
  padding : 10px 0;
  overflow : auto;
  text-align : center;
  background-color : white;
}

#pop_background > .pop_box > .pop_content > .button_area > .button_container {
  float : left;
  width : 100%;
  overflow : auto;
}

#pop_background > .pop_box > .pop_content > .button_area > .button_container > .button_design {
  display : table;
  width : 160px;
  height : 50px;
  border-radius: 10px;
  font-size : 20px;
  margin : auto;
  background-color : #999999;
  color : #ffffff;
  cursor : pointer;
}

#pop_background > .pop_box > .pop_content > .button_area > .button_container > .button_design > p {
  display : table-cell;
  vertical-align : middle;
}

#footer{
  width : 100%;
  height : 100px;
}

